.task-content {
	display: flex;
	flex-wrap: wrap;
}
.atividade {
	background-color: #f9f9f9;
	padding: 16px;
	border-radius: 20px;
	margin: 16px;
}
.atividade a {
	text-decoration: none;
}
ul {
	list-style: none;
}
ul li {
	padding: 12px;
}
main .listas-atividades ul {
	margin-top: 1.5rem;
}

main .listas-atividades li:nth-of-type(even) {
	margin-bottom: 1.5rem;
}
/* FORM */
.form {
	width: 100%;
}
.atividade-form {
	background: #f5f5f5;
	padding: 1.5rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
