/* CALENDAR */
.fc.fc-media-screen.fc-direction-ltr.fc-theme-standard {
	margin-top: 1rem;
}
.fc-header-toolbar.fc-toolbar {
	margin-top: 0.5rem;
}
.fc-toolbar-chunk {
	display: flex;
}
.fc-toolbar-chunk .fc-toolbar-title {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 1rem;
	color: rgba(0, 0, 0, 0.6);
	margin: 0;
}
.fc-button.fc-button-primary,
.fc-button.fc-button-primary:disabled {
	color: #000000de;
	background-color: #4aedc4;
	height: 2.5rem;
	border-color: #1de9b6;
	display: flex;
	align-items: center;
}
.fc-button.fc-button-primary:hover {
	background-color: #00bfa5;
	border-color: #008573;
}
.fc-button.fc-button-primary:active {
	background-color: #26a69a !important;
	border-color: #33ab9f !important;
}
.fc-button.fc-button-primary:disabled {
	opacity: 0.4;
}
#draggable-dialog-title {
	padding: 0;
}
@media (max-width: 26.5rem) {
	.fc-toolbar-chunk .fc-toolbar-title {
		font-size: 0.825rem;
	}
	.fc-scrollgrid-sync-inner .fc-col-header-cell-cushion {
		font-size: 0.75rem;
	}
}
